body {
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	line-height: 1.6;
	color: #333;
}

header {
	text-align: center;
	background-color: #e91e63;
	padding-top: 60px;
	padding-bottom: 60px;
}
header h1 {
	margin: 0;
	padding: 20px;
	color: white;
}
main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
}
#debug-window {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	border-style: solid;
	border-width: 1px;
	background: rgba(255, 255, 255, 0.9);
	font-size: 0.5em;
}

canvas {
	display: block;
	max-width: 500px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;

	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: white;
}

.multi-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-content: center;
}
/* Because flex box doesn't collapse margins, use much smaller ones */
.multi-container canvas {
	margin: 10px;
}

input[type=range] {
	display: block;
	max-width: 500px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	color: #3F51B5;
}

h2, h3, p, li {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #57a7cc;
}
em {
	color: #e91e63;
}
a, a:hover, a:visited {
	color: #e91e63;
}